<html>
    <head>
        <title>Biblio Tech</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/bibliotheque/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/bibliotheque/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    </head>
    <body>
        <div id="page">
            <div id="header">
                <div class="jumbotron">
        		    <h1>Biblio Tech</h1>
                    <p>Créer ta propre biliothèque !</p>
                </div>
                <ul class="nav nav-pills nav-justified">
                    <li><a href="{{ path('myapp_accueil') }}" role="button" class="menu"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a></li>
                    <li><a href="{{ path('myapp_livre_lister') }}" role="button" class="menu"><i class="fa fa-book" aria-hidden="true"></i> Livres</a></li>
                    <li><a href="{{ path('myapp_autheur_lister') }}" role="button" class="menu"><i class="fa fa-users" aria-hidden="true"></i> Auteurs</a></li>
                </ul>
            </div>
            <div id="content">
				{% block content %}

				<h1>Ajouter/Modifier un livre</h1>

				
				{% if message %}
				<div class="alert alert-success" role="alert">
					{{ message }}
					</div>
				{% endif %}
				

				<form action="" method="post" {{ form_enctype(form) }}>
				    {{ form_widget(form) }}
				    <button type="submit" class="btn btn-default btn-block">Valider</button>
				</form>
				<a href="{{ path('myapp_livre_lister') }}"><button type="button" class="btn btn-secondary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</button></a>

				{% endblock %}
			</div>
		</div>
        <script src="{{ asset('bundles/bibliotheque/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/bibliotheque/js/bootstrap.min.js') }}"></script>
    </body>
</html>